@model List<Amesc.WebApp.ViewModels.CursoComMatriculaAbertaParaListaViewModel>
@{
    ViewData["Title"] = "Cursos";
}

<div id="pad-wrapper">

    <div class="row">
        <div class="col-md-12">
            <a href="/Cursos" class="btn">Voltar</a>
        </div>
    </div>

    <div class="row header">
        <div class="col-md-12">
            <h3>Abrir matricula para @ViewBag.Curso.Nome</h3>
        </div>
    </div>
    <div class="row">
        <a href="/AbrirMatricula/Novo/@ViewBag.Curso.Id" class="btn btn-primary">Novo</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Data de abertura</th>
                        <th>Data de fechamento</th>
                        <th>Data do curso</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.DataDeAbertura
                            </td>
                            <td>
                                @item.DataDeFechamento
                            </td>
                            <td>
                                @item.DataDoCurso
                            </td>
                            <td>
                                <a href="/AbrirMatricula/Editar/@item.Id" class="btn">Editar</a>
                            </td>
                        </tr>   
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



