@model Amesc.WebApp.ViewModels.CursoAbertoParaCadastroViewModel
@{
    ViewData["Title"] = "Cursos";
}

<div id="pad-wrapper">

    <div class="row">
        <div class="col-md-12">
            <a href="/AbrirCurso/@ViewBag.Curso.Id" class="btn">Voltar</a>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-12">
            <h3>Curso @ViewBag.Curso.Nome</h3>
        </div>
    </div>
    <div class="row form-wrapper">
        <div class="col-md-12">
            <form id="form" class="form-horizontal" asp-action="Salvar" asp-controller="AbrirCurso" asp-anti-forgery
                  data-ajax="true" data-ajax-method="POST" data-ajax-failure="formQuandoFalha" data-ajax-success="window.location = '/AbrirCurso/@ViewBag.Curso.Id'">
                <input type="hidden" class="form-control" asp-for="Id">
                <input type="hidden" class="form-control" asp-for="IdCurso" value="@ViewBag.Curso.Id">
                <div class="form-group" id="inicioDasMatriculasDiv">
                    <label class="col-md-2 control-label">Inicio das matriculas</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="PeriodoInicialParaMatricula" asp-format="{0:dd/MM/yyyy}" maxlength="10" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="PeriodoInicialParaMatricula" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group" id="fimDasMatriculasDiv">
                    <label class="col-md-2 control-label">Fim das matriculas</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="PeriodoFinalParaMatricula" asp-format="{0:dd/MM/yyyy}" maxlength="10" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="PeriodoFinalParaMatricula" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Inicio do curso</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="InicioDoCurso" asp-format="{0:dd/MM/yyyy}" maxlength="10" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="InicioDoCurso" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Fim do curso</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="FimDoCurso" asp-format="{0:dd/MM/yyyy}" maxlength="10" placeholder="DD/MM/YYYY" />
                        <span asp-validation-for="FimDoCurso" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Preço</label>
                    <div class="col-md-2">
                        <input class="form-control" asp-for="Preco" id="preco">
                        <span asp-validation-for="Preco" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tipo</label>
                    <div class="col-md-2">
                        <select class="form-control" asp-for="TipoDeCursoAberto" id="tipoDeCursoAberto">
                            <option value="Publico">Publico</option>
                            <option value="Fechado">Fechado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.priceformat.min.js"></script>
    <script src="/js/excecaoDeDominio.js"></script>
    <script>
        $(function() {
            $('#preco').priceFormat({
                prefix: '',
                centsSeparator: ',',
                thousandsSeparator: '.'
            });

            prepararCamposDePeriodoDaMatriculaPeloTipoDeCursio($("#tipoDeCursoAberto option:selected").val());
            $('#tipoDeCursoAberto').change(function() {

                prepararCamposDePeriodoDaMatriculaPeloTipoDeCursio($("#tipoDeCursoAberto option:selected").val());
            });

            function prepararCamposDePeriodoDaMatriculaPeloTipoDeCursio(tipo)
            {
                if ($("#tipoDeCursoAberto option:selected").val() == "Fechado") {

                    $('#inicioDasMatriculasDiv').css('display', 'none');
                    $('#PeriodoInicialParaMatricula').val('');
                    $('#fimDasMatriculasDiv').css('display', 'none');
                    $('#PeriodoFinalParaMatricula').val('');
                }
                else {

                    $('#inicioDasMatriculasDiv').css('display', '');
                    $('#fimDasMatriculasDiv').css('display', '');
                }
            }
        });
    </script>
}

    




