@model Amesc.WebApp.ViewModels.GerenciarMatriculaViewModel
@{
    ViewData["Title"] = "Matriculas";
}

<div id="pad-wrapper">

    <div class="row">
        <div class="col-md-12">
            <a href="/Matriculas" class="btn">Voltar</a>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-8">
            <h3>Gerenciamento de matricula</h3>
        </div>
    </div>
    <div class="row form-wrapper">
        <div class="col-md-12">
            <form id="form" class="form-horizontal" asp-action="Gerenciar" asp-controller="Matriculas" asp-anti-forgery
                  data-ajax="true" data-ajax-method="POST" data-ajax-failure="formQuandoFalha" data-ajax-success="window.location = '/Matriculas'">
                <div class="form-group">
                    <label class="col-md-2 control-label">Aluno</label>
                    <div class="col-md-10">
                        <label class="col-md-10">@Model.Aluno</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Curso</label>
                    <div class="col-md-10">
                        <label class="col-md-10">@Model.Curso</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Data do curso</label>
                    <div class="col-md-10">
                        <label class="col-md-2">@Model.DataDoCurso</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Está pago?</label>
                    <div class="col-md-4">
                        <input type="checkbox" asp-for="EstaPago" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">ValorPago</label>
                    <div class="col-md-4">
                        <label class="col-md-2">@Model.ValorPago</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Observação</label>
                    <div class="col-md-4">
                        <textarea class="form-control" asp-for="Observacao"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Nota do aluno</label>
                    <div class="col-md-1">
                        <input type="number" class="form-control" asp-for="NotaDoAlunoNoCurso" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Status de aprovação</label>
                    <div class="col-md-1">
                        <select class="form-control" asp-for="StatusDaAprovacao">
                            <option></option>
                            <option value="Aprovado">Aprovado</option>
                            <option value="Reprovado">Reprovado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">IP</label>
                    <div class="col-md-1">
                        <input type="number" class="form-control" asp-for="Ip" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/excecaoDeDominio.js"></script>
}

    




