@model Amesc.WebApp.ViewModels.AlunoParaCadastroViewModel
@{
    ViewData["Title"] = "Alunos";
}

<div id="pad-wrapper">

    <div class="row">
        <div class="col-md-12">
            <a href="/Alunos" class="btn">Voltar</a>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-1">
            <h3>Aluno</h3>
        </div>
    </div>
    <div class="row form-wrapper">
        <div class="col-md-12">
            <form id="form" class="form-horizontal" asp-action="Salvar" asp-controller="Alunos" asp-anti-forgery
                  data-ajax="true" data-ajax-method="POST" data-ajax-failure="formQuandoFalha" data-ajax-success="window.location = '/Alunos'">
                <input type="hidden" class="form-control" asp-for="Id">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nome</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" asp-for="Nome">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">CPF</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="Cpf" id="cpf">
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Telefone</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="Telefone" id="telefone">
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Endereço</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" asp-for="Endereco">
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tipo de publico</label>
                    <div class="col-md-2">
                        
                        <select class="form-control" asp-for="TipoDePublico">
                            <option value="Médico(a)">Médico(a)</option>
                            <option value="Aluno 6° ano de medicina">Aluno 6° ano de medicina</option>
                            <option value="Enfermeiro(a)">Enfermeiro(a)</option>
                            <option value="Bombeiro(a)">Bombeiro(a)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.priceformat.min.js"></script>
    <script src="/js/jquery.maskedinput.min.js"></script>
    <script src="/js/excecaoDeDominio.js"></script>
    <script>
        $(function() {
            $("#cpf").mask("999.999.999-99");
            $("#telefone").mask("(99) 99999999?9");
        });
    </script>
}

    




