@model Amesc.WebApp.ViewModels.AlunoParaCadastroViewModel
@{
    ViewData["Title"] = "Alunos";
}

<div id="pad-wrapper">

    <div class="row">
        <div class="col-md-12">
            <a href="/Alunos" class="btn">Voltar</a>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-1">
            <h3>Aluno</h3>
        </div>
    </div>
    <div class="row form-wrapper">
        <div class="col-md-12">
            <form id="form" class="form-horizontal" asp-action="Salvar" asp-controller="Alunos" asp-anti-forgery
                  data-ajax="true" data-ajax-method="POST" data-ajax-failure="formQuandoFalha" data-ajax-success="window.location = '/Alunos'">
                <input type="hidden" class="form-control" asp-for="Id">
                <div class="form-group">
                    <label class="col-md-2 control-label">Nome</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" asp-for="Nome">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">CPF</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="Cpf">
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">RG</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="Rg">
                        <span asp-validation-for="Rg" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Orgão emissor</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="OrgaoEmissorDoRg">
                        <span asp-validation-for="OrgaoEmissorDoRg" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Data de nascimento</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="DataDeNascimento" placeholder="DD/MM/YYYY">
                        <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Registro profissional</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="RegistroProfissional">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Telefone</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="Telefone" id="telefone">
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Logradouro</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" asp-for="Logradouro">
                        <span asp-validation-for="Logradouro" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Numero</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="Numero">
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Bairro</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="Bairro">
                        <span asp-validation-for="Bairro" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Complemento</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="Complemento">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Cidade</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" asp-for="Cidade">
                        <span asp-validation-for="Cidade" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Estado</label>
                    <div class="col-md-2">
                        <select class="form-control" asp-for="Estado">
                            <option value="MS">MS</option>
                            <option value="SP">SP</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">CEP</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="Cep">
                        <span asp-validation-for="Cep" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tipo de publico</label>
                    <div class="col-md-2">
                        
                        <select class="form-control" asp-for="TipoDePublico">
                            <option value="Médico(a)">Médico(a)</option>
                            <option value="Aluno 6° ano de medicina">Aluno 6° ano de medicina</option>
                            <option value="Enfermeiro(a)">Enfermeiro(a)</option>
                            <option value="Bombeiro(a)">Bombeiro(a)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Midia social</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" asp-for="MidiaSocial">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.priceformat.min.js"></script>
    <script src="/js/jquery.maskedinput.min.js"></script>
    <script src="/js/excecaoDeDominio.js"></script>
    <script>
        $(function() {
            $("#Cep").mask("99999-999");
            $("#Cpf").mask("999.999.999-99");
            $("#Rg").mask("999999999");
            $("#telefone").mask("(99) 99999999?9");
            $('#DataDeNascimento').mask("99/99/9999");
        });
    </script>
}

    




